<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/queries.css">
    <link rel="shortcut icon" href="images/viaje.ico" type="image/x-icon">
    <!--META ETIQUETAS-->
    <!--Color de la pestaña en un dispositivo movil-->
    <meta name="them-color" content=" #1d293f">
    <!-- Primary Meta Tags -->
<title>PUEBLOS MÁGICOS</title>
<meta name="title" content="Conoce las maravillas de México">
<meta name="description" content="Conoce nuevas experiencias y resalta el gran interes por las culturas, tradiciones y costumbres que México ofrece para ti">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://erikayazmindionisio.github.io">
<meta property="og:title" content="Conoce las maravillas de México">
<meta property="og:description" content="Conoce nuevas experiencias y resalta el gran interes por las culturas, tradiciones y costumbres que México ofrece para ti">
<meta property="og:image" content="https://erikayazmindionisio.github.io/images/blog.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="http://pueblosmagicos.com/">
<meta property="twitter:title" content="Conoce las maravillas de México">
<meta property="twitter:description" content="Conoce nuevas experiencias y resalta el gran interes por las culturas, tradiciones y costumbres que México ofrece para ti">
<meta property="twitter:image" content="https://erikayazmindionisio.github.io/images/blog.png">
    

</head>
<body>
    <header class="hero">
        <nav class="nav container">
            <div class="nav_logo">
                <h2 class="nav_title">MexMagic</h2>
                
            </div>
            <ul class="nav_link nav_link--menu">
                <li class="nav_items">
                    <a href="" class="nav_links">Inicio</a>
                </li>
                <li class="nav_items">
                    <a href="" class="nav_links">Acerca de</a>
                </li>
                <li class="nav_items">
                    <a href="" class="nav_links">Contacto</a>
                </li>
                <li class="nav_items">
                    <a href="" class="nav_links">Blog</a>
                </li>

                <img src="images/close.svg" class="nav_close">

            </ul>

            <div class="nav_menu">
                <img src="images/menu.svg" class="nav_img">
            </div>

        </nav>
        <section class="hero_container container">
            <h1 class="hero_title">Pueblos Magicos de México</h1>
            <p class="hero_paragraph">Atrevete, explora y conoce las maravillas de nuestro país</p>
            <a href="#" class="cta">Comienza ahora</a>
        </section>
    </header>

    <main >
        <section class="container about">
            <h2 class="subtitle">¿Porque son llamados pueblos mágicos?</h2>
        
        <p class="about_paragraphh">Todo lo que necesitas saber de México, (Costumbres,Tradiciones
            ,Gustos por la comida, Su gente y más)</p>

            <div class="about_main">
                <article class="about_icons">
                    <img src="images/shapes.svg" class="about_icon">
                    <h3 class="about_title">Tradiciones</h3>
                    <p class="about_paragraph">“La palabra tradición, en su sentido etimológico, sugiere la presencia de un legado que se transmite de generación en generación, por obra de un sujeto transmisor a un sujeto receptor. Lo que se transmite es, en su esencia, un acervo permanente de verdades vitales que asumen diversas y renovadas formas históricas"</p>
                </article>
                <article class="about_icons">
                    <img src="images/paint.svg" class="about_icon">
                    <h3 class="about_title">Pueblo mágico</h3>
                    <p class="about_paragraph">“Un Pueblo Mágico es un sitio con símbolos y leyendas, poblados con historia que en muchos casos han sido escenario de hechos trascendentes para nuestro país, son lugares que muestran la identidad nacional en cada uno de sus rincones, con una magia que emana de sus atractivos"</p>
                </article>
                <article class="about_icons">
                    <img src="images/code.svg" class="about_icon">
                    <h3 class="about_title">Costumbres</h3>
                    <p class="about_paragraph">“Las costumbres son formas de comportamiento particular que asume toda una comunidad y que la distinguen de otras comunidades; como sus danzas, fiestas, comidas, idioma o artesanía. Estas costumbres se van transmitiendo de una generación a otra, ya sea en forma de tradición oral o representativa"</p>
                </article>
            </div>
        </section>

        <section class="testimony">
            <div class="testimony_container container">
                <img src="images/leftarrow.svg" class="testimony_arrow" id="before">
                <section class="testimony_body testimony_body--show" data-id ="1">
                    <div class="testimony_text">
                        <h2 class="subtitle">El Oro,
                            <span class="testimony_course">
                                Estado de Hidalgo
                            </span>
                        </h2>
                        <p class="testimony_review">El Pueblo Mágico de El Oro es una de las antiguas glorias mineras del Estado de México. Y aunque su esplendor minero, hace mucho tiempo que se agotó, continúa brillando como destino turístico. Posee señoriales edificios que cautivan la atención de los visitantes y los incita a buscar mayores referencias de su apasionante historia.</p>
                    </div>
                    <figure class="testimony_picture">
                        <img src="images/El-Oro-el-Pueblo-Magico.jpg" class="testimony_img">
                    </figure>
                </section>

                <section class="testimony_body " data-id ="2">
                    <div class="testimony_text">
                        <h2 class="subtitle">Bacalar,
                            <span class="testimony_course">
                                Quintana Roo
                            </span>
                        </h2>
                        <p class="testimony_review">Bacalar o Laguna de los Siete Colores. Su nombre viene del maya Bakhalal que significa “cerca o rodeado de carrizos”. De forma circular, la laguna es poco profunda lo que permite nadar cómodamente. Alrededor se encuentran establecidas tanto casas privadas como pequeñas posadas que permiten acceso a la laguna.</p>
                    </div>
                    <figure class="testimony_picture">
                        <img src="images/bacalar-pueblo-magico.jpg" class="testimony_img">
                    </figure>
                </section>

                <section class="testimony_body" data-id ="3">
                    <div class="testimony_text">
                        <h2 class="subtitle">Cadereyta de Montes,
                            <span class="testimony_course">
                                Queretaro
                            </span>
                        </h2>
                        <p class="testimony_review">Visitar este Pueblo Mágico es una experiencia única ya que es la entrada a la Sierra Gorda queretana; es un municipio con gran diversidad geográfica: tiene clima semidesértico en el sur y bosques en el norte.</p>
                    </div>
                    <figure class="testimony_picture">
                        <img src="images/cadereyta.jpg" class="testimony_img">
                    </figure>
                </section>

                <section class="testimony_body" data-id ="4">
                    <div class="testimony_text">
                        <h2 class="subtitle">Calvillo,
                            <span class="testimony_course">
                                Aguascalientes
                            </span>
                        </h2>
                        <p class="testimony_review">Calvillo es un precioso Pueblo Mágico desde el 2012 y se encuentra en Aguascalientes. Antes residían los pueblos indígenas zacatecas, náhuas y caxcanes, posteriormente fue conquistado por españoles, franceses y nórdicos. Por ello, en este lugar actualmente encontrarás una única mezcla cultural, artística y gastronómica.  </p>
                    </div>
                    <figure class="testimony_picture">
                        <img src="images/calvillo.jpg" class="testimony_img">
                    </figure>
                </section>

                <section class="testimony_body" data-id ="5">
                    <div class="testimony_text">
                        <h2 class="subtitle">San cristobal de las casas,
                            <span class="testimony_course">
                                Chiapas
                            </span>
                        </h2>
                        <p class="testimony_review">San Cristóbal de Las Casas, en el estado de Chiapas, fue una de las primeras ciudades construidas en la Norteamérica española; se trata de un Pueblo Mágico, aunque en realidad posee la cualidad de ciudad.

                            Por diversas razones, esta localidad ha tenido cuando menos diez nombres diferentes, quedando finalmente el de "San Cristóbal" en honor al santo patrono de los viajeros, y "de las Casas" por fray Bartolomé de las Casas.</p>
                    </div>
                    <figure class="testimony_picture">
                        <img src="images/catedral-san-cristobal-kiosco-chapas-salto.jpg" class="testimony_img">
                    </figure>
                </section>

                <section class="testimony_body" data-id ="6">
                    <div class="testimony_text">
                        <h2 class="subtitle">Chiapa de Corzo,
                            <span class="testimony_course">
                                Chiapas
                            </span>
                        </h2>
                        <p class="testimony_review">Es un hermoso Pueblo Mágico considerado una de las poblaciones más antiguas del continente americano, pues se fundó en marzo de 1528. Al inicio fue habitado por los españoles que llegaron al estado pero, debido al caluroso clima de la región estos decidieron migrar a lo que hoy es San Cristóbal de las Casas</p>
                    </div>
                    <figure class="testimony_picture">
                        <img src="images/Chiapa de corzo.jpg" class="testimony_img">
                    </figure>
                </section>

                <section class="testimony_body " data-id ="7">
                    <div class="testimony_text">
                        <h2 class="subtitle">Comala,
                            <span class="testimony_course">
                                Colima
                            </span>
                        </h2>
                        <p class="testimony_review">Comala el “Pueblo Blanco de América”, expresa su magia e historia a través del arte, la naturaleza y la gastronomía. Su paisaje invita a pasar el día en el campo, entre el agua y el fuego, entre lagunas con vista al volcán activo. Envuelta en un misticismo digno de leyenda</p>
                    </div>
                    <figure class="testimony_picture">
                        <img src="images/comal-colima.jpg" class="testimony_img">
                    </figure>
                </section>

                <section class="testimony_body" data-id ="8">
                    <div class="testimony_text">
                        <h2 class="subtitle">Zimapán,
                            <span class="testimony_course">
                                Hidalgo
                            </span>
                        </h2>
                        <p class="testimony_review">Existe un encantador Pueblo Mágico, un pueblo minero, al pie de la Sierra Gorda que vale la pena visitar: Zimapán. Es el municipio más grande del Estado, lo que ofrece una gran variedad de paisajes, atractivos y actividades como por ejemplo el vuelo en parapente; en este lugar podrás practicar infinidad de deportes extremos al aire libre.</p>
                    </div>
                    <figure class="testimony_picture">
                        <img src="images/zimapan-hidalgo-min.png" class="testimony_img">
                    </figure>
                </section>

                <section class="testimony_body" data-id ="9">
                    <div class="testimony_text">
                        <h2 class="subtitle">Isla Mujeres,
                            <span class="testimony_course">
                                Quintana Roo
                            </span>
                        </h2>
                        <p class="testimony_review">La impresionante isla mexicana conocida como Isla Mujeres, que se encuentra en la costa cercana a Cancún, en el Caribe, justo frente a Villa del Palmar Cancún, es un lugar tan especial que en 2015 se le otorgó la codiciada categoría de Pueblo Mágico Turístico.</p>
                    </div>
                    <figure class="testimony_picture">
                        <img src="images/Isla-Mujeres-Cancún-1.jpeg" class="testimony_img">
                    </figure>
                </section>

                <section class="testimony_body" data-id ="10">
                    <div class="testimony_text">
                        <h2 class="subtitle">Peña de Bernal,
                            <span class="testimony_course">
                                Queretaro
                            </span>
                        </h2>
                        <p class="testimony_review">El Pueblo Mágico de Santiago de Bernal, en el estado de Querétaro, es ideal para visitar un fin de semana. Tiene la característica de ser tranquilo, pequeño y, eso sí, muy instagrameable. Además de su cercanía con la Ciudad de México</p>
                    </div>
                    <figure class="testimony_picture">
                        <img src="images/portada-peña-bernal.jpg" class="testimony_img">
                    </figure>
                </section>

                <section class="testimony_body" data-id ="11">
                    <div class="testimony_text">
                        <h2 class="subtitle">Real de Catorce,
                            <span class="testimony_course">
                                San Luis Postosi
                            </span>
                        </h2>
                        <p class="testimony_review">Real de Catorce es uno de los Pueblos Mágicos del país que más enigmas aguarda para quienes se atreven a conocerlo. Situado en la zona norte de San Luis Potosí, sus casi 3,000 metros de altura sobre el nivel del mar lo hacen tener un clima más bien gélido; en algunas épocas del año incluso puede llegar a nevar.</p>
                    </div>
                    <figure class="testimony_picture">
                        <img src="images/real de catorce.jpg" class="testimony_img">
                    </figure>
                </section>

                <section class="testimony_body" data-id ="12">
                    <div class="testimony_text">
                        <h2 class="subtitle">Teotihucan,
                            <span class="testimony_course">
                                Estado de México
                            </span>
                        </h2>
                        <p class="testimony_review">Este nombramiento de Pueblo Mágico es compartido por ambos municipios debido a que la zona arqueológica abarca ambos territorios.

                            En Teotihuacán los evangelizadores del siglo XVI fundaron el monasterio y templo: San Juan Bautista; actualmente puedes admirar que perdura el púlpito y capilla abierta con arcos.</p>
                    </div>
                    <figure class="testimony_picture">
                        <img src="images/teotihuacan.jpg" class="testimony_img">
                    </figure>
                </section>

                <section class="testimony_body" data-id ="13">
                    <div class="testimony_text">
                        <h2 class="subtitle">Tequila,
                            <span class="testimony_course">
                                Jalisco
                            </span>
                        </h2>
                        <p class="testimony_review">El Pueblo Mágico de Tequila se ubica en el estado de Jalisco a una hora por tierra desde Guadalajara. Si quieres disfrutar de un buen caballito de tequila, una de las bebidas icónicas del país, este es el lugar perfecto para hacerlo. Aquí se producen los mejores volúmenes de esta bebida de los dioses, símbolo característico de México a nivel mundial.</p>
                    </div>
                    <figure class="testimony_picture">
                        <img src="images/tequila_mexico-travel-channel_1200x680.jpg" class="testimony_img">
                    </figure>
                </section>

                <section class="testimony_body" data-id ="14">
                    <div class="testimony_text">
                        <h2 class="subtitle">Atlixco,
                            <span class="testimony_course">
                                Puebla
                            </span>
                        </h2>
                        <p class="testimony_review"> Atlixco es un Pueblo Mágico del estado de Puebla que se encuentra los pies del volcán Popocatépetl.

                            Es uno de los lugares turísticos de Puebla con más atractivos para visitar, debido a su gran diversidad cultural y gastronómica, sus coloridas calles, actividades como el cultivo de flores, su arquitectura e iglesias, la práctica de deportes extremos, entre otros.</p>
                    </div>
                    <figure class="testimony_picture">
                        <img src="images/tour-atlixco-corazon-de-puebla-el-viento-tours.jpg" class="testimony_img">
                    </figure>
                </section>

                <section class="testimony_body" data-id ="15">
                    <div class="testimony_text">
                        <h2 class="subtitle">Tulum,
                            <span class="testimony_course">
                                Quintana Roo
                            </span>
                        </h2>
                        <p class="testimony_review">El Pueblo Mágico de Tulum es un punto obligado y la mejor muestra del encanto maya gracias a sus ruinas situadas al borde del Mar Caribe; además de ser la única zona arqueológica que se asienta a la orilla de un acantilado, bajo el cual se encuentra la playa del Paraíso, una de las mejores y más hermosas playas de la Riviera Maya y muy probablemente, la más retratada. </p>
                    </div>
                    <figure class="testimony_picture">
                        <img src="images/Tulum.jpg" class="testimony_img">
                    </figure>
                </section>

                <section class="testimony_body" data-id ="16">
                    <div class="testimony_text">
                        <h2 class="subtitle">Villa del Carbón,
                            <span class="testimony_course">
                                Estado de México
                            </span>
                        </h2>
                        <p class="testimony_review">Villa del Carbón es un Pueblo Mágico que conserva intacto su esplendor de la época colonial, cuando su principal actividad económica era la explotación del carbón; su bosque es uno de los principales tesoros de la región.
                            Rodeado de montañas y frondosa vegetación, es un ambiente tranquilo que se inunda con los aromas de pino y el trinar de las aves que se funden con la armoniosa caída de agua de sus fuentes. Te deleitarás con lo pintoresco de sus calles empedradas y techos de teja roja para después relajarte en uno de sus centros ecoturísticos.</p>
                    </div>
                    <figure class="testimony_picture">
                        <img src="images/villa-del-carbon.png" class="testimony_img">
                    </figure>
                </section>

                <img src="images/rightarrow.svg" class="testimony_arrow" id="next">
            </div>
        </section>

        <section class="price container">
            <h2 class="subtitle">Obten el plan perfecto para Viajar</h2>
            <div class="price_table">
                <div class="price_element">
                    <p class="price_name">Individual</p>
                    <h3 class="price_price">$4,800/8 días</h3>

                    <div class="price_items">
                        <p class="price_features">Hospedaje</p>
                        <p class="price_features">Transporte</p>
                        <p class="price_features">Comida</p>
                    </div>
                    <a href="#" class="price_cta">Viaja ahora</a>
                </div>

                <div class="price_element price_element--best">
                    <p class="price_name">Pareja</p>
                    <h3 class="price_price">$8,500/2 personas</h3>

                    <div class="price_items">
                        <p class="price_features">Cena romantica</p>
                        <p class="price_features">Hospedaje</p>
                        <p class="price_features">Transporte</p>
                    </div>
                    <a href="#" class="price_cta">Viaja ahora</a>
                </div>

                <div class="price_element">
                    <p class="price_name">Familiar</p>
                    <h3 class="price_price">$1,500/persona</h3>

                    <div class="price_items">
                        <p class="price_features">Visita turistica</p>
                        <p class="price_features">Hospedaje</p>
                        <p class="price_features">Comida y transporte</p>
                    </div>
                    <a href="#" class="price_cta">Viaja ahora</a>
                </div>

            </div>
            
        </section>

        <section class="logotipo">
            <img src="images/MexMagic.png" class="logo">
        </section>

        <section class="questions container">
                <div id="main"> 
                <form class="border p-4 mb-4 usuarios_registro" @submit.prevent="addUser">
                    <h2 class="subtitle">Registrate y conoce las maravillas de México</h2>
                    <span class="validacion" v-if="!nombre">Requerido*</span><br>
                    <input class="form-control" v-model="nombre" type="text" placeholder="Introduce Nombre(s)"><br><br>
                    <span class="validacion" v-if="!apellido">Requerido*</span><br>
                    <input class="form-control" v-model="apellido" type="text" placeholder="Introduce Apellido(s)"><br><br>
                    <span class="validacion" v-if="!email">Requerido*</span><br>
                    <input class="form-control"v-model="email" type="email" placeholder="example@gmail.com">
                    <br>
                    <span class="validacion" v-if="!destino">Requerido*</span><br>
                    <label for="Destino" class="form-label">Selecciona tu destino:</label><br><br>
                    <select class="form-select" id="destinos" v-model="destino">
                        <option value="El Oro, Estado de Hidalgo ">El Oro, Estado de Hidalgo </option>
                        <option value="Bacalar, Quintana Roo">Bacalar, Quintana Roo</option>
                        <option value="Cadereyta de Montes, Queretaro">Cadereyta de Montes, Queretaro</option>
                        <option value="Calvillo, Aguascalientes">Calvillo, Aguascalientes</option>
                        <option value="San cristobal de las casas, Chiapas ">San cristobal de las casas, Chiapas</option>
                        <option value="Chiapa de Corzo, Chiapas ">Chiapa de Corzo, Chiapas</option>
                        <option value="Comala, Colima">Comala, Colima</option>
                        <option value="Zimapán, Hidalgo">Zimapán, Hidalgo</option>
                        <option value="Isla Mujeres, Quintana Roo">Isla Mujeres, Quintana Roo</option>
                        <option value="Peña de Bernal, Queretaro">Peña de Bernal, Queretaro</option>
                        <option value="Teotihucan, Estado de México ">Teotihucan, Estado de México</option>
                        <option value="Tequila, Jalisco">Tequila, Jalisco</option>
                        <option value="Atlixco, Puebla">Atlixco, Puebla</option>
                        <option value="Tulum, Quintana Roo ">Tulum, Quintana Roo</option>
                        <option value="Villa del Carbón, Estado de México">Villa del Carbón, Estado de México</option>
                      
                    </select><br><br>
                    
                    <span class="validacion"  v-if="!edad">Requerido*</span><br>
                    <input class="form-control" v-model="edad"  type="number" placeholder="Introduce Edad" id="Novacio"><br><br>
                    
                    <button class="btn btn-primary agregar" >Añadir usuario</button>
                </form>
                

            <section class="questions_container">
                <label for="x">Si has cometido un error elimina tu registro y comienza nuevamente</label>
                <article class="questions_padding">
                    <div class="questions_answer">
                        <h3 class="questions_title">Usuarios Registrados  
                            <span class="question_arrow">
                                <img src="images/arrow.svg" class="questions_img">
                            </span>      
                        </h3>
                            <div  class="questions_show">
                            <ul class="li">
                                <li v-for="item in usuarios" v-bind:key="item.id">
                                    <h1 class="nom" >Nombre: {{item.data.nombre}}</h1>
                                    <h1 class="nom">Apellido: {{item.data.apellido}}</h1>
                                    <h1 class="nom">Email: {{item.data.email}}</h1>
                                    <h1 class="nom">Destino: {{item.data.destino}}</h1>
                                    <h1 class="nom">Edad: {{item.data.edad}}</h1>
                                    <img class="actua" src="images/actualizar.svg" @click="updateUser(item.id)">
                                    <img class="basura" src="images/basura.svg" @click="deleteUser(item.id)"><br><br>
                                   
                                </li>
                            </ul>
                            </div>
                        
                            </div> 
                        </div>
                    
                </article>
        </section>

        <footer class="footer">
            <section class="footer_container container">
                <nav class="nav nav--footer">
                    <h2 class="footer_title">MexMagic</h2>
                    <ul class="nav_link nav_link--footer">
                        <li class="nav_items">
                            <a href="" class="nav_links">Inicio</a>
                        </li>
                        <li class="nav_items">
                            <a href="" class="nav_links">Acerca de</a>
                        </li>
                        <li class="nav_items">
                            <a href="" class="nav_links">Contacto</a>
                        </li>
                        <li class="nav_items">
                            <a href="" class="nav_links">Blog</a>
                        </li>
                    </ul>
                </nav>
                
            </section>
            <section class="footer_copy container">
                <div class="footer_social">
                    <a href="#" class="footer_icons">
                        <img src="images/facebook.svg" class="footer_img" >
                    </a>
                    <a href="#" class="footer_icons">
                        <img src="images/twiter.svg" class="footer_img" >
                    </a>
                    <a href="#" class="footer_icons">
                        <img src="images/youtube.svg" class="footer_img" >
                    </a>
                </div>
                <h3 class="footer_copyright">Derechos reservados &copy;Erika Yazmin Dionisio Velasco</h3>
            </section>
        </footer>
        

        

    </main>
    

<!--METODOS Y FUNCIONES DE FIREBASE Y VUE-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js"></script>

<!--Configuración de firebase-->
<script src="js/main.js"></script>
<script src="js/slider.js"></script>
<script src="js/usuarios.js"></script>
<script src="js/menu.js"></script>

</body>
</html>